<img src="unicamp.png" width="150" height="150">

## MO444/MC886 - Aprendizado de Máquina e Reconhecimento de Padrões

Esse trabalho foi feito pelos seguintes membros:

- Lucas Zanco Ladeira - 188951
- Rafael Scherer - 204990 

O código original deste projeto está disponível no [repositório do Github](https://github.com/lucaslzl/mo444_p2_supervised).

## Modelos Supervisionados

## Part I - Tarefa de Regressão

<b>Declaração do problema</b> <br>"Considere que você é um goleiro em uma partida de futebol robótico na RoboCup Teen Size League. Seu oponente vai chutar uma bola contra você. Seu objetivo é prever a posição da bola para interceptá-la, ou seja, defender seu gol!"

### Descrição dos Dados

Para este projeto foram utilizadas 2 bases de dados, sendo: <i>kick1.dat</i> e <i>kick2.dat</i>. Os dados compreendem a posição (x, y, z) da bola a cada 1/3 frames com uma frequência de 60 frames por segundo de um mesmo chute. A variável <i>x</i> compreende a posição da bola em relação a extensão do gol. A variável <i>y<i/> compreende a distância da bola até o gol. A variável <i>z</i> compreende a distância da bola em relação ao solo. Os valores das variáveis se estendem sendo <i>x = -3 até +3</i>, <i>y = 0 até 2,1</i>, <i>z = 0 até 0,3</i>. Para facilitar a busca pela posição final da bola (y = 0) o valor de y é "negativado". Sendo assim, ele cresce de um valor negativo até 0. É importante descrever os dados, de forma que seja possível observar a variação em cada base de dados.

In [1]:
import pandas as pd

df = pd.read_csv('./datasets/kick1.dat', sep=' ')

df.describe()

               x          y          z
count  20.000000  20.000000  20.000000
mean   -0.727700   1.576650   0.119600
std     0.294473   0.295319   0.014605
min    -1.192000   1.109000   0.103000
25%    -0.974000   1.328750   0.109500
50%    -0.742500   1.589500   0.114000
75%    -0.519000   1.815500   0.128250
max    -0.210000   2.048000   0.149000

In [2]:
df = pd.read_csv('./datasets/kick2.dat', sep=' ')

df.describe()

               x          y          z
count  20.000000  20.000000  20.000000
mean   -0.363200   1.576650   0.237800
std     0.146036   0.295319   0.047159
min    -0.596000   1.109000   0.145000
25%    -0.491500   1.328750   0.207750
50%    -0.361000   1.589500   0.247000
75%    -0.257000   1.815500   0.280250
max    -0.105000   2.048000   0.296000

Podemos ver que ambos os chutes começam na esquerda do goleiro, pois tem valor mínimo negativo. Além disso, para a primeira base de dados a altura máxima atingida até o momento com distância <i>y</i> de 1,1 do gol é de metade da altura máxima (1,5). Na segunda base de dados, a altura atingida é de quase máxima (2,9) até a distância de 1,1 do gol.

### Metodologia

Os experimentos são divididos em.

## Part II - Classification Task

<b>Problem statement</b><br>
"You should solve a classification task using supervised learning methods. For this task, you can use libraries that implement the methods you want to use. For this task, we will employ the Pen-Based Recognition of Handwritten Digits Data Set. It is a simple and well-known image bank for image recognition. It consists of 8-by-8-pixel gray-scale images divided into 10 classes of digits."